<%# app/views/shared/resource_form/fields/_radio.html.erb %>
<%
  current_value = model&.send(field[:field].to_sym) rescue nil
%>
<div class="flex flex-col gap-1 col-span-24 min-w-0 <%= span_classes_for(field, cols: cols) %>"
     data-resource-form-target="fieldGroup"
     data-field-name="<%= field[:field] %>">
  <span class="text-sm font-medium text-text-secondary">
    <%= resolve_label(field) %>
    <% if field[:required] %><span class="text-accent-rose ml-0.5 font-semibold">*</span><% end %>
  </span>
  <div class="flex flex-wrap gap-4 mt-1">
    <% param_key = model&.model_name&.param_key || 'resource' %>
    <% (field[:options] || []).each do |opt| %>
      <%
        label, value = if opt.is_a?(Hash)
          [opt[:label] || opt["label"], opt[:value] || opt["value"]]
        elsif opt.is_a?(Array)
          [opt.first, opt.last]
        else
          [opt, opt]
        end
        opt_id = "#{param_key}_#{field[:field]}_#{value}"
      %>
              } %>
        <span><%= label %></span>
      </label>
    <% end %>
  </div>
  <% if model&.errors&.[](field[:field].to_sym)&.any? %>
    <span class="rf-error-msg"><%= model&.errors&.[](field[:field].to_sym)&.first %></span>
  <% end %>
  <% if field[:help].present? %>
    <span class="text-xs text-text-muted mt-0.5"><%= field[:help] %></span>
  <% end %>
</div>
