<%# app/views/shared/resource_form/fields/_rich_textarea.html.erb %>
<%
  layout_styles = []
  logical_col_span = (field[:col_span] || field[:colspan]).to_i
  logical_row_span = (field[:row_span] || field[:rowspan]).to_i
  error_message = model&.errors&.[](field[:field].to_sym)&.first

  if logical_col_span.positive?
    total_logical_cols = [cols.to_i, 1].max
    grid_units = [(24.0 / total_logical_cols * logical_col_span).round, 1].max
    layout_styles << "grid-column: span #{grid_units};"
  end

  if logical_row_span.positive?
    layout_styles << "grid-row: span #{logical_row_span};"
  end

  target_data = if field[:target].present? && local_assigns[:target_controller].present?
    { "#{local_assigns[:target_controller]}_target" => field[:target] }
  else
    {}
  end

  editor_data = target_data

  if field[:disable_file_attachments] && local_assigns[:target_controller].present?
    controller_identifier = local_assigns[:target_controller].to_s.dasherize
    trix_actions = [
      "trix-initialize->#{controller_identifier}#configureContentEditor",
      "trix-file-accept->#{controller_identifier}#preventTrixFileAttach"
    ].join(" ")

    editor_data = editor_data.merge(action: trix_actions)
    editor_data = editor_data.merge(disable_file_attachments: true)
  end
%>
<div class="flex flex-col gap-1 col-span-24 min-w-0 <%= span_classes_for(field, cols: cols) %>"
     data-resource-form-target="fieldGroup"
     data-field-name="<%= field[:field] %>"
     style="<%= layout_styles.join(' ') if layout_styles.any? %>">
  <% param_key = model&.model_name&.param_key || 'resource' %>
  <label class="text-sm font-medium text-text-secondary" for="<%= "#{param_key}_#{field[:field]}" %>">
    <%= resolve_label(field) %>
    <% if field[:required] %><span class="text-accent-rose ml-0.5 font-semibold">*</span><% end %>
  </label>
  <div class="border rounded-md group focus-within:ring-2 focus-within:ring-primary/20 focus-within:border-primary transition-all duration-200">
    <%= f.hidden_field field[:field].to_sym,
          id: "#{param_key}_#{field[:field]}",
          class: "form-grid-input min-h-[220px] #{'rf-field-error' if error_message.present?}",
          required: field[:required],
          disabled: field[:disabled],
          data: editor_data %>
  </div>
  <span class="rf-error-msg <%= 'invisible' if error_message.blank? %>"><%= error_message.presence || " " %></span>
  <% if field[:help].present? %>
    <span class="text-xs text-text-muted mt-0.5"><%= field[:help] %></span>
  <% end %>
</div>
