<%# app/views/shared/search_form/fields/_date_picker.html.erb %>
<% field_id = "q_#{field[:field]}" %>
<div class="flex flex-col gap-1 col-span-24 min-w-0 <%= span_classes_for(field, cols: cols) %>" data-search-form-target="fieldGroup">
  <label class="text-sm font-medium text-text-secondary" for="<%= field_id %>"><%= resolve_label(field) %></label>
  <div class="flex relative">
    <input type="<%= field[:date_type] == 'datetime' ? 'datetime-local' : 'date' %>"
           id="<%= field_id %>"
           name="q[<%= field[:field] %>]"
           value="<%= q_value(field[:field]) %>"
           class="form-grid-input"
           <%= "disabled" if field[:disabled] %>
           <%= "min=\"#{field[:min]}\"".html_safe if field[:min] %>
           <%= "max=\"#{field[:max]}\"".html_safe if field[:max] %>>
  </div>
</div>
