<%# app/views/shared/search_form/fields/_popup.html.erb %>
<% field_id = "q_#{field[:field]}" %>
<div class="form-grid-field <%= span_classes_for(field, cols: cols) %>" 
     data-search-form-target="fieldGroup"
     data-controller="search-popup"
     data-search-popup-type-value="<%= field[:popup_type] %>">
  <label class="form-grid-label" for="<%= field_id %>"><%= resolve_label(field) %></label>
  <div class="form-grid-control form-grid-popup-control">
    <input type="hidden"
           name="q[<%= field[:code_field] %>]"
           value="<%= q_value(field[:code_field]) %>"
           data-search-popup-target="code">
    <input type="text"
           id="<%= field_id %>"
           name="q[<%= field[:field] %>]"
           value="<%= q_value(field[:field]) %>"
           class="form-grid-input"
           readonly
           data-search-popup-target="display"
           placeholder="<%= resolve_placeholder(field) %>">
    <button type="button" class="form-grid-popup-btn" data-action="search-popup#open">
      ...
    </button>
  </div>
</div>

