<%# app/views/shared/search_form/fields/_select.html.erb %>
<% field_id = "q_#{field[:field]}" %>
<div class="form-grid-field <%= span_classes_for(field, cols: cols) %>" data-search-form-target="fieldGroup">
  <label class="form-grid-label" for="<%= field_id %>"><%= resolve_label(field) %></label>
  <div class="form-grid-control">
    <select id="<%= field_id %>" name="q[<%= field[:field] %>]" class="form-grid-select" <%= "disabled" if field[:disabled] %>>
      <% if field[:include_blank] != false %>
        <option value=""><%= resolve_placeholder(field) || "선택하세요" %></option>
      <% end %>
      <% (field[:options] || []).each do |opt| %>
        <% 
           label, value = if opt.is_a?(Hash)
             [opt[:label] || opt["label"], opt[:value] || opt["value"]]
           elsif opt.is_a?(Array)
             [opt.first, opt.last]
           else
             [opt, opt]
           end
        %>
        <option value="<%= value %>" <%= "selected" if q_value(field[:field]).to_s == value.to_s %>>
          <%= label %>
        </option>
      <% end %>
    </select>
  </div>
</div>

