<%# app/views/shared/resource_form/_form.html.erb %>
<%# 리소스 폼의 메인 래퍼 (wrapper_options는 호출 측에서 전달됨) %>
<%= content_tag :div, wrapper_options do %>

  <%# 모델 유효성 검사 에러가 있는 경우 에러 메시지 목록 표시 %>
  <% if model.errors.any? %>
    <div class="rf-errors" data-resource-form-target="errorSummary">
      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%
    # 폼 데이터 속성 병합
    # resource-form Stimulus 컨트롤러 타겟 지정 및 submit 액션 핸들링 연결
    merged_form_data = {
      resource_form_target: "form",
      action: "submit->resource-form#submit"
    }.merge(form_data || {})

    # HTML 속성 병합 (브라우저 기본 유효성 검사 비활성화: novalidate)
    merged_form_html = { novalidate: true }.merge(form_html || {})
  %>
  
  <%# Rails form_with 헬퍼를 사용하여 폼 생성 %>
  <%= form_with(model: model, url: url, data: merged_form_data, html: merged_form_html) do |f| %>

    <div class="form-grid-grid">
      <%# 정의된 fields 배열을 순회하며 각 필드 타입에 맞는 파셜을 동적으로 렌더링 %>
      <% fields.each do |field| %>
        <%= render partial: "shared/resource_form/fields/#{field[:type]}",
                   locals: { f: f, model: model, field: field, cols: cols } %>
      <% end %>

      <%# show_buttons 옵션이 true인 경우 저장/취소 버튼 영역 렌더링 %>
      <% if show_buttons %>
        <%= render partial: "shared/resource_form/buttons",
                   locals: { submit_label: submit_label, cancel_url: cancel_url } %>
      <% end %>
    </div>

  <% end %>
<% end %>


