<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popup</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/trix@2.1.15/dist/trix.css", "data-turbo-track": "reload", preload_links_header: false %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload", preload_links_header: false %>
  <%= javascript_importmap_tags %>
</head>
<body class="font-sans bg-bg-primary text-text-primary text-sm leading-normal p-0" data-controller="lucide">
  <%= yield %>
</body>
</html>
